.footer {
    background-color: $color-primary;
    padding: 10rem 0;
    font-size: 1.4rem;

    &__logo-box {
        text-align: center;
        margin-bottom: 8rem;
        color: white;
        font-size: 2rem;
    }

    &__logo{
        width: 15rem;
        height: auto;
    }

    &__list {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    &__item {
        
        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__links {
        &:link,
        &:visited {
            color: $color-grey-light-1;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
        }

    }
}